@media screen and (min-width:641px) and (max-width:1200px) {
    [for=burger] {
        display: block;
        color: rgb(255, 255, 255);
        z-index: 5;

    }

    .header-menu {
        display: none;
    }

    #burger:checked+.burger+.header-menu {
        display: block;
    }

    .trend-box {}
}