@font-face {
   font-family: 'OpenSans';
   src: url(../fonts/OpenSans-Bold.ttf)format('ttf'),
      url(../fonts/OpenSans-Bold.woff)format('woff'),
      url(../fonts/OpenSans-Bold.woff2)format('woff2');
   font-weight: 700;
   font-style: bold;
}

@font-face {
   font-family: 'OpenSans';
   src: url(../fonts/OpenSans-Regular.ttf)format('ttf'),
      url(../fonts/OpenSans-Regular.woff)format('woff'),
      url(../fonts/OpenSans-Regular.woff2)format('woff2');
   font-weight: 400;
   font-style: regular;
}

a {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

ol,
ul,
li {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   width: 100%;
   max-width: 1660px;
   margin: 0 auto;
   padding: 0;
   font-family: "OpenSans";
}

.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

.header {
   position: relative;
   padding: 28px;
   width: 100%;
   background-image: url(../img/banner-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 450px;
}

.header-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;

}

.header:after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, .5);
   z-index: 2;
}

.main-title {
   position: relative;
   padding: 130px 350px 140px 350px;
   text-align: center;
   font-size: 31px;
   font-family: "OpenSans";
   color: rgb(255, 255, 255);
   font-weight: bold;
   text-transform: uppercase;
   line-height: 1.667;
   z-index: 4;
}

.logo {
   width: 179px;
   z-index: 3;
}

.menu a {
   font-size: 13px;
   font-family: "OpenSans";
   color: rgb(255, 255, 255);
   text-transform: uppercase;
   line-height: 1.2;
   padding-right: 1em;
}

.header-menu {
   display: flex;
   justify-content: space-around;
   z-index: 3;

}

.menu {
   display: flex;
   z-index: 3;

}

.menu-link:hover {
   text-decoration: underline;
   color: white;
}

.section-trend {
   margin-top: 40px;
}

.garden-on-the-windowsill {
   background-image: url(../img/trend1.jpg);
}

.cheeses {
   background-image: url(../img/trend2.jpg);
}

.first-trip {
   background-image: url(../img/trend3.jpg);
}

.lemons {
   background-image: url(../img/trend4.jpg);
}

.trend {
   display: flex;
   align-items: flex-end;
   flex-wrap: wrap;
   width: calc(25% - 3px);
   min-height: 230px;
   padding: 85px 0 25px 0;
   z-index: 0;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

.title-trend {
   margin-bottom: 25px;
   font-size: 20px;
   font-family: "OpenSans";
   color: rgb(15, 13, 14);
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;

}

.title-trend::after {
   content: '';
   display: block;
   width: 66px;
   margin-top: 9px;
   margin-left: auto;
   margin-right: auto;
   border-bottom: 3px solid rgb(181, 159, 91);
}

.trend-box {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 3px;
}

.text-trend {
   margin-right: 15px;
   margin-left: 15px;
   padding: 30px 25px;
   border: 3px solid rgb(181, 159, 91);

}

.trend-tags-list {
   margin-bottom: 12px;
   display: flex;
   flex-wrap: wrap;
}

.trend-tags {
   margin-right: 20px;
   font: 700 14px 'OpenSans', Sans-serif;
   color: rgb(181, 159, 91);
   text-transform: uppercase;
}

.trend-tags:hover {
   text-decoration: underline;
}

.inner-title {
   font-size: 16px;
   text-transform: uppercase;
   font-family: 'OpenSans';
   color: #fff;
   font-weight: bold;
}

.inner-title:hover {
   color: rgb(181, 159, 91);
}

.trend::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, .6);
   z-index: -1;
}

.hobby {
   margin-bottom: 60px;
   display: flex;
   gap: 30px;
}

.hobby-wrapper {
   width: 370px;
}

.hobby-tag-list {
   margin-bottom: 16px;
}

.hobby-tag {
   display: inline-block;
}

.hobby-tag-link {
   color: rgb(181, 159, 91);
   font-weight: bold;
   text-transform: uppercase;
   margin-right: 20px;
   font-size: 14px;
}

.hobby-tag-link:hover {
   text-decoration: underline;
}

.hobby-category {
   display: inline-block;
   font-size: 16px;
   margin: 0;
   margin-left: 30px;
   font-family: "OpenSans";
   color: rgb(181, 159, 91);
   font-weight: bold;
   text-transform: uppercase;
   line-height: 2.857;
}

.hobby-category:hover {
   cursor: pointer;
   text-decoration: underline;
}

.hobby-title {
   display: block;
   margin-bottom: 25px;
   font-size: 17px;
   font-family: "OpenSans";
   color: rgb(15, 13, 14);
   font-weight: bold;
   text-transform: uppercase;
}

.hobby-title:hover {
   color: rgb(181, 159, 91);
}

.hobby-date {
   display: inline-block;
   font-size: 12px;
   font-family: "OpenSans";
   color: rgb(136, 136, 136);
}

.hobby-author {
   margin-left: 16px;
   display: inline-block;
   font-size: 14px;
   font-family: "OpenSans";
   color: rgb(0, 0, 0);
   font-weight: bold;
}

.hobby-text-wrapper {
   margin-top: 30px;
}

.hobby-text {
   font-size: 14px;
   font-family: "OpenSans";
   color: rgb(15, 13, 14);
}

.hobby-text:nth-child(n + 2) {
   margin-bottom: 10px;
}

.newposts {
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 25px;
   font: 700 14px "Open Sans" sans-serif;
   color: #0f0d0e;

}

.newposts::after {
   content: '';
   display: block;
   width: 66px;
   margin: 9px auto 0 auto;
   border-bottom: 3px solid rgb(181, 159, 91);
}

.newposts-img {
   display: block;
   width: 70px;
   height: 70px;
   margin-right: 20px;
   background-color: #eff6f1;
}

.newposts-hobby {
   margin-bottom: 20px;
   display: flex;
}

.newposts-hobby-date {
   margin-bottom: 9px;
   display: block;
   font-size: 12px;
   font-family: "OpenSans";
   color: rgba(0, 0, 0, 0.541);
}

.newposts-hobby-title {
   font-size: 14px;
   font-family: "OpenSans";
   color: rgb(0, 0, 0);
   font-weight: bold;
   text-transform: uppercase;
}

.newposts-title-link {
   color: black;
}

.newposts-title-link:hover {
   color: rgb(181, 159, 91);
}

.main {
   display: flex;
   justify-content: space-between;
   margin-top: 64px;

}

.aside-wrapper {
   width: 272px;
}

input:focus {
   border: 2px solid rgb(181, 159, 91);
}

.search-form {
   margin-top: 60px;
   margin-bottom: 44px;
   display: flex;
}

.search-box {
   display: block;
   width: 100%;
}

.search-input {
   display: block;
   width: 100%;
   height: 49px;
   padding-left: 20px;
   border: 2px solid rgb(244, 247, 246);
   outline: none;
   background-color: rgb(244, 247, 246);
   flex-grow: 1;
}

.search-input:focus {
   border-top: 1px solid rgb(181, 159, 91);
   border-bottom: 1px solid rgb(181, 159, 91);
   border-left: 1px solid rgb(181, 159, 91);
}

.visually-hidden {
   position: fixed;
   transform: scale(0);
}

.search-button {
   background-color: rgb(181, 159, 91);
   width: 48px;
   height: 49px;
   border: none;
   cursor: pointer;
   background-image: url('../svg/search.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 17px;

}

.search-button:focus {
   background-color: black;
}

.newsletter {
   margin-bottom: 40px;
}

.newsletter-title {
   text-align: center;
   font-size: 14px;
   font-family: "OpenSans";
   color: rgb(15, 13, 14);
   font-weight: bold;
   text-transform: uppercase;
   margin-bottom: 25px;
   margin-top: 40px;
}

.newsletter-title::after {
   content: '';
   display: block;
   border-bottom: 3px solid rgb(181, 159, 91);
   margin: 9px auto 0 auto;
   width: 66px;
}

.email-input {
   font-size: 15px;
   font-family: "OpenSans";
   color: rgba(0, 0, 0, 0.541);
   padding-left: 10px;
   border: 1px solid rgb(244, 247, 246);
   background-color: rgb(244, 247, 246);
   width: 100%;
   height: 49px;
   outline: none;

}

.email-input:focus {
   border: 1px solid rgb(181, 159, 91);
}

.email-button {
   margin-top: 15px;
   font-size: 14px;
   font-family: "OpenSans";
   color: rgb(255, 255, 255);
   font-weight: bold;
   text-transform: uppercase;
   border: none;
   background-color: rgb(181, 159, 91);
   width: 100%;
   height: 49px;

}

.email-button:hover {
   background-color: #323232;
}

.tegs {
   margin-bottom: 30px;
   font-size: 14px;
   font-family: "OpenSans";
   color: rgb(15, 13, 14);
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
}

.tegs::after {
   content: '';
   display: block;
   border-bottom: 3px solid rgb(181, 159, 91);
   margin: 9px auto 0 auto;
   width: 66px;

}

.tegs-list a {
   margin-right: 0;
   padding: 5px;
   list-style: none;
   text-decoration: none;
   font-size: 14px;
   font-family: "OpenSans";
   color: rgb(15, 13, 14);
   font-weight: bold;
   text-transform: uppercase;
   line-height: 3.333;
   border: 3px solid rgb(238, 238, 238);
}

.tegs-list {
   display: flex;
   flex-wrap: wrap;
}

.tag-item {
   display: inline-block;
   padding: 5px 12px;
   border: 3px solid rgb(238, 238, 238);
}

.tag-item:hover {
   background-color: rgb(181, 159, 91);
}

.tag-item:nth-child(n) {
   margin-right: 6px;
   margin-bottom: 5px;
}

.tegs-link {
   color: rgb(15, 13, 14);
   font: 700 12px "OpenSans" sans-serif;
   text-transform: uppercase;
}

.themes {
   text-align: center;
   margin-top: 40px;
   margin-bottom: 30px;
   font-size: 14px;
   color: rgb(15, 13, 14);
   font-weight: bold;
   text-transform: uppercase;
}

.themes::after {
   content: '';
   display: block;
   width: 66px;
   border-bottom: 3px solid rgb(181, 159, 91);
   margin: 9px auto 0 auto;
}

.topic-list,
.topic-link {
   font-size: 16px;
   color: rgb(0, 0, 0);
   font-weight: bold;
}

.topic-list::after {
   content: "";
   display: block;
   width: 100%;
   margin: 13px auto 0 auto;
   border-bottom: 1px solid #eee;
   margin-top: 12px;
   margin-bottom: 16px;
}

.topic-link:hover {
   color: rgb(181, 159, 91);
}

sup {
   margin-left: 4px;
   color: rgb(181, 159, 91);
}

.shop-article {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: calc(33.33% - 60px);
}

.price-link {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.product-box {
   margin-top: -35px;
   padding: 55px 20px;
   flex-grow: 1;
   border: 3px solid rgb(181, 159, 91);
}



.our-products {
   margin-bottom: 25px;
   font-size: 20px;
   font-family: "OpenSans";
   color: rgb(15, 13, 14);
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
}

.our-products::after {
   content: '';
   display: block;
   width: 66px;
   margin-top: 9px;
   margin-left: auto;
   margin-right: auto;
   border-bottom: 3px solid rgb(181, 159, 91);

}

.our-products-prices {
   display: flex;
   justify-content: space-around;
   gap: 60px;
}

.product-title-shop {
   font-size: 22px;
   font-family: "OpenSans";
   color: rgb(15, 13, 14);
   font-weight: bold;
   text-transform: uppercase;
}

.product-text-shop {
   margin-bottom: 30px;
   font-size: 15px;
   font-family: "OpenSans";
   color: rgb(15, 13, 14);
}

.product-text-link {
   color: rgb(181, 159, 91);
}

.price-link {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.price {
   font: 700 20px 'open sans', sans-serif;
}

.price-sale {
   font: 700 14px 'open sans', sans-serif;
   text-decoration: line-through;
}

.product-link {
   padding: 20px 30px;
   font-size: 16px;
   font-family: "OpenSans";
   color: rgb(255, 255, 255);
   font-weight: bold;
   text-transform: uppercase;
   background-color: rgb(181, 159, 91);
}

.product-link:hover {
   background-color: #000;
}

.footer {
   margin-top: 60px;

}

.footer-images-list {
   display: flex;
   justify-content: center;
   background-color: #f4f7f6;
   padding: 15px;
}

.footer-image {
   width: 20px;
   height: 20px;
   margin-right: 30px;
}

.copyright {
   margin: 50px 0;
   text-align: center;
   font-size: 14px;
   font-family: "OpenSans";
   color: rgb(153, 153, 153);
   font-weight: bold;
   line-height: 3.333;
}